.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.form {
  box-shadow: 0px 4px 15px 3px $shadow-color;
  padding: 2rem 1rem;
  border-radius: $round-lg;
  width: 100%;
  max-width: 400px;
}

@media (min-width: 640px) {
  .form {
    max-width: 420px;
  }
}

@media (min-width: 1024px) {
  .form {
    max-width: 760px;
  }
}
