$primary-color: #00897b;
$secondary-color: #0084b3;
$text-color: white;
$text-secondary-color: #868686;
$primary-highlight-color: #00c9ae;
$primary-hover-color: #005549;
$background-color: #c3fcf1;
$shadow-color: #b3b3b3;
$disabled-bg-color: #9ca3af;
$disabled-text-color: #e5e7eb;
$error-bg-color: #fee2e2;
$error-text-color: #b91c1c;
$input-border-color: #d1d5db;
