.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(400px);
  gap: 1rem;
  align-items: center;
}

.loginButton {
  width: 100%;
}

.fieldsWrapper {
  width: 100%;
}

@media (min-width: $tablet) {
  .form {
    max-width: rem(420px);
  }
}

@media (min-width: $desktop) {
  .form {
    max-width: rem(760px);
  }

  .loginButton {
    max-width: 10rem;
  }
}
