.card {
  display: flex;
  flex-direction: column;
  border-radius: $round-md;
  overflow: hidden;
  border: 1px solid $card-border-color;
}

.imageWrapper {
  width: 100%;
  padding-top: 75%;
  position: relative;
  background-color: $disabled-bg-color;
}

.content {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
}

.category {
  text-transform: capitalize;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $gap-md;
}

.price {
  font-weight: 600;
}
